*{
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
padding: 15px 40px ;
color: #F15B22;
text-align: center;
font-size: 15px;
font-weight: 600;
border: .5px solid #f15B22;
border-radius:5px;
}
.header{
    height: 100vh;
    width: 100%;
    margin-bottom: 150px;
    position: relative;
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
   background-size: cover;
}
.header-info{
    position:absolute;
    top:220px;
    right:130px;
    width:400px;
}
.header-info h1{
color: #151414;
text-align: right;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.header-info p{
color: var(--dark-02, #444343);
text-align: right;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
margin-bottom: 30px;
}
.header-btn{
position: absolute;
right:0;
border-radius: 5px;
background: #FD6E0A;
border:none;
font-size: 20px;
font-weight: 700;
color:#fff;
padding:15px 35px; 
}
/* main style start */
main{
   width:1600px;
    margin:0 auto ;
}
.first-main{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color:rgb(248, 236, 221); */
    margin-bottom: 150px;
}

.image img {
  width:80%;
  height:100%;
}

.image-info h3{
    color: #151414;
    width:288px;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.image-info p{
color: #444343;
width:416px;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}
.image-info ul{
   
    /* list-style-position: inside; */
   
}
.image-info ul li{
    list-style-image:url('../images/icons/check\ 1.svg');
color: #444343;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}

.my-plane{
    padding: 40px;
    text-align: center;
    margin-bottom: 150px;
}
.my-plane h3{
    color: #151414;
    width:288px;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 200px;
    display: inline;
    margin-bottom: 20px;
}
.my-plane-info{
    display:flex;
    justify-content: space-evenly;
}
.my-plane-info h4{
color: #151414
text-align: center;
font-size: 30px;
font-style: normal;
font-weight: 700;
}
/* watch images style start */
.watch-image{
background-image:url('../images/gradient2.png'),url('../images/watch.png');
background-repeat: no-repeat;
background-position: fixed;
background-size: cover;
height: 300px;
position: relative;
padding:80px 40px;
margin-bottom: 150px;
}
.watch-image-info{
    position:absolute;
    top:150px;
    left:120px;
    width: 850px;
}
.watch-image h2{
color: #FFF;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 10px;
}
/* footer start */
footer{
    height: 550px;
    background-color: #151414;
}
.footer-info{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    color:#fff;
    padding:120px;
}

.footer-left{
    width:480px;
    line-height: 50px;
}
.footer-left h2{
color: #F8F8F8;
font-size: 45px;
font-style: normal;
font-weight: 700;

}
.footer-left p{
color: #FFF;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 36px;
}
.social{
margin-top: 20px;
}
.social a{
padding-left: 20px;
}
.footer-right{
    width:480px;
    
}
.footer-right h4{
    color: #FFF;
font-family: Work Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
margin-bottom: 20px;
}
label{
    display: block;
}
input[type="email"]{
    width:340px;
    padding:20px;
    outline:none;
    font-size:20px;
    font-weight: 400px;
    margin-bottom: 15px;
}